<!-- Shared Form Checkboxes Section -->
{%- assign formCheckboxField = field | default: include.field -%}
{%- capture formCheckboxMsg -%}{%- if formCheckboxField.required -%}data-msg="{{ formCheckboxField.requiredMsg }}"{%- endif -%}{%- endcapture -%}

<label class="form__label input-label" {{ formCheckboxMsg }}>{{ formCheckboxField.label }}</label>

{% for checkbox in formCheckboxField.checkboxes %}
  {%- capture formCheckboxId %}{{ formCheckboxField.id}}{{ checkbox.id }}{%- endcapture -%}
  {%- capture formCheckboxGroup %}data-form-group="{{ formCheckboxField.id }}"{%- endcapture -%}
    {%
      include form-checkbox.html
      group=formCheckboxGroup
      checkbox=checkbox
      id=formCheckboxId
    %}
{% endfor %}
<!-- End Shared Form Checkboxes Section -->
