<!-- Shared Form Section -->
{% assign formForm = include.form | default: form %}
{% assign formLight = include.light | default: light %}
{% assign formAnalytics = include.analytics | default: analytics %}
{% assign formSpace = include.space | default: space | default: 'space-top-2' %}

{% if formLight %}
  {% assign formClasses = 'is-light' %}
{% else %}
  {% assign formClasses = '' %}
{% endif %}

<div class="form {{ formClasses }} container">
  <div class="form__row row">
    <div class="col-md-11 col-lg-10">
      {% if formForm.headline %}
        <div class="container {{ formSpace }} headline-row">
          <div class="row">
            <div class="col-sm-12">
              {% capture sublineClasses %}text-center {{ formForm.sublineClasses }}{% endcapture %}
              {%
                include headline.html
                text=formForm.headline
                level=formForm.level
                classes="text-center"
                id=formForm.id
              %}
              {% if formForm.subline %}
                <p class="{{ sublineClasses }}">{{ formForm.subline }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
      <form class="form__form js-validate mt-6" method="{{ formForm.method }}" action="{{ formForm.action }}">
        {% for field in formForm.fields %}
          {%- if field.readonly -%}
            {%- assign readonly = 'readonly' -%}
          {%- else -%}
            {%- assign readonly = '' -%}
          {%- endif -%}

          {%- if field.required -%}
            {%- assign required = 'required' -%}
          {%- else -%}
            {%- assign required = '' -%}
          {%- endif -%}

          {%- if field.placeholder -%}
            {%- capture placeholder %}placeholder="{{ field.placeholder }}"{% endcapture -%}
          {%- else -%}
            {%- assign placeholder = '' -%}
          {%- endif -%}

          {%- if field.rowStart -%}
            <div class="row mx-n3 {{ field.rowClass }}">
          {%- endif -%}

          {%- if field.col -%}
              <div class="col-md-{{ field.col }} px-3">
          {%- endif -%}

          {%- if field.type == 'checkbox' -%}
            {%- assign groupClass = 'mb-3' -%}
          {%- else -%}
            {%- assign groupClass = '' -%}
          {%- endif -%}

                <div class="js-form-message {% if field.type != 'select' %}form-group{% endif %} {% if field.type == 'hidden' %}d-none{% endif %} {{ groupClass }}">
                  {% if field.type == 'textarea' %}
                    <label class="input-label" for="{{ field.id }}">{{ field.label }}</label>
                    <textarea class="form-control form-textarea" id="{{ field.id }}" name="{{ field.id }}" rows="4" {{ placeholder }} {{ required }} {{ readonly }}></textarea>
                  {% elsif field.type == 'checkbox' %}
                    {%
                      include form-checkbox.html
                      checkbox=field
                    %}
                  {% elsif field.type == 'hidden' %}
                    <input type="hidden" name="{{ field.id }}" value="{{ field.value }}" {% if field.id == '_gotcha' %}style="display:none;"{% endif %}>
                  {% elsif field.checkboxes %}
                    {%
                      include form-checkboxes.html
                      field=field
                    %}
                  {% elsif field.type == 'select' %}
                    {%- if field.options.first -%}
                      {%- assign options = field.options -%}
                    {%- else -%}
                      {%- assign options = site.data[field.options].list -%}
                    {%- endif -%}
                    <label class="input-label" for="{{ field.id }}">{{ field.label }}</label>
                    <select class="form-control custom-select text-muted" name="{{ field.id }}" {{ required }}>
                      <option value>{{ field.placeholder }}</option>
                      {% for option in options %}
                        <option value="{{ option.value }}">{{ option.text }}</option>
                      {% endfor %}
                    </select>
                  {% else %}
                    <label class="input-label" for="{{ field.id }}">{{ field.label }}</label>
                    <input type="{{ field.type }}" id="{{ field.id }}" name="{{ field.id }}" class="form-control" data-msg="{{ field.requiredMsg }}" value="{{ field.value }}" {{ placeholder }} {{ required }} {{ readonly }}>
                  {% endif %}
                </div>

          {%- if field.col -%}
              </div>
          {%- endif -%}

          {%- if field.rowEnd -%}
            </div>
          {%- endif -%}
        {% endfor %}
        <div class="form__submit mt-5 justify-content-center">
          {%
            include cta.html
            text=formForm.ctaText
            type="submit"
            button=true
            skin=formForm.cta.skin
            width=formForm.cta.width
            analytics=formAnalytics
          %}
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Shared Form Section -->
